<!-- -->


body {
    font-family:"timesnewromans";
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    background-color: ghostwhite;
    color: black;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 25px 0;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0;
}

p {
    margin: 10px 0;
}


header {
    background-color: lightgrey;
    margin: 0 0;
    padding: 15px 0;
}

a:link {
    color: cyan;
}
/* visited link */
a:visited {
    color: green;
}
/* mouse over link */
a:hover {
    color: purple;
}
/* selected link */
a:active {
    color: blue;
}

div.relative {
    position: relative;
    top:10px;
    left: 10px;
    width: 300px;
    height: 300px;
    border: 0px solid #73AD21;
}

div.maps {
    position: absolute;
    top:129px;
    z-index: -10;
    left: 129px;
    width: 160px;
    height: 160px;
    border: 0px solid #73AD21;
}
canvas.clock{
    position: absolute;
    top: 129px;
    z-index: -2;
    left: 129px;
    width: 160px;
    height: 160px;
    border: 0px solid #73AD21;
}
canvas.m1{
    position: absolute;
    top: 129px;
    z-index: -3;
    left: 129px;
    width: 160px;
    height: 160px;
    border: 0px solid #73AD21;
}
canvas.m2{
    position: absolute;
    top: 129px;
    z-index: -4;
    left: 129px;
    width: 160px;
    height: 160px;
    border: 0px solid #73AD21;
}
canvas.m3{
    position: absolute;
    top: 129px;
    z-index: -5;
    left: 129px;
    width: 160px;
    height: 160px;
    border: 0px solid #73AD21;
}
.app{
    position: absolute;
    top: 129px;
    z-index: 5;
    left: 129px;
    width: 160px;
    height: 160px;

}
.firstMenu, .radius{
    padding: inherit;
    margin: 0px;
}
.firstMenu li, .radius li{
    list-style: none;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 24px;
    padding-bottom: 24px;

}
.display li{
    position:absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    list-style: none;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 24px;
    padding-bottom: 24px;
}
#travel {
    position: absolute;
    top: 70px;
    left: 38px;
}

button {
    border-radius: 20px;
    background: lightskyblue;
}

button:hover{
    background: dodgerblue;
}